{% extends "base.html" %}
{% load static %}
{% block title %}Ticket Sales App{% endblock %}
{% block content %}
	<style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
	</style>
	
	<h1>Tickets</h1>
	<table>
		<tr>
			<th>Ticket ID</th>
			<th>Total Cost</th>
			<th>Passenger ID</th>
			<th>Passenger Name</th>
		</tr>
		
		{% for ticket in tickets %}
			<tr>
				<td>{{ ticket.id }}</td>
				<td>{{ ticket.Total_Cost }}</td>
				<td>{{ ticket.Customer_ID.id }}</td>
				<td>
					{% for passenger in passengers %}
						{% if passenger.id == ticket.Customer_ID.id %}
							{{ passenger.Given_Name }} {{ passenger.Middle_Initial }}. {{ passenger.Last_Name }}
						{% endif %}
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
