{% extends "base.html" %}
{% load static %}
{% block title %}Ticket Sales App{% endblock %}
{% block content %}
	<h1>General Statistics</h1>
	<table>
		<tr>
			<th colspan="2">Customers and Amount of Tickets Bought</th>
		</tr>
		
		<tr>
			<th>Customer</th>
			<th>Tickets Bought</th>
		</tr>

		
		{% for passenger in passengers_bought %}
			<tr>
				<td>{{ passenger.Customer }}</td>
				<td>{{ passenger.Tickets_Bought }}</td>
			</tr>
		{% endfor %}
	</table>
	
	<table>
		<tr>
			<th colspan="6">Travel History for Sherlock Holmes</th>
		</tr>
		
		<tr>
			<th> Customer </th>
			<th> Ticket ID </th>
			<th> Date </th>
			<th> Ticket Cost </th>
			<th> Route </th>
			<th> Departure Time </th>
		</tr>
		
		{% for passenger in history_sherlock %}
			<tr>
				<td>{{ passenger.Customer }}</td>
				<td><a href="{% url 'ticketsales:ticket_detail' passenger.Ticket_ID %}">{{ passenger.Ticket_ID }}</a></td>
				<td>{{ passenger.Date }}</td>
				<td>{{ passenger.Ticket_Cost }}</td>
				<td>{{ passenger.Route }}</td>
				<td>{{ passenger.Departure }}</td>
			</tr>
		{% endfor %}
	</table>
	
	<table>
		<tr>
			<th colspan="3">Route Popularity per Gender</th>
		</tr>
		
		<tr>
			<th> Gender </th>
			<th> Route </th>
			<th> Total Tickets </th>
		</tr>

		
		{% for passenger in route_gender %}
			<tr>
				<td>{{ passenger.Gender }}</td>
				<td>{{ passenger.Route }}</td>
				<td>{{ passenger.Total_Tickets }}</td>
			</tr>
		{% endfor %}
	</table>
	
	<table>
		<tr>
			<th colspan="3">Destination per Gender</th>
		</tr>
		
		<tr>
			<th> Gender </th>
			<th> Destination </th>
			<th> Tickets Bought </th>
		</tr>

		
		{% for passenger in destination_gender %}
			<tr>
				<td>{{ passenger.Gender }}</td>
				<td>{{ passenger.Destination }}</td>
				<td>{{ passenger.Tickets_Bought }}</td>
			</tr>
		{% endfor %}
	</table>
	
	<table>
		<tr>
			<th colspan="3">Revenue for Local</th>
		</tr>
		
		<tr>
			<th> Route </th>
			<th> Total Tickets Sold </th>
			<th> Total Revenue </th>
		</tr>

		{% for ticket in revenue_local %}
			<tr>
				<td>{{ ticket.Route }}</td>
				<td>{{ ticket.Total_Tickets_Sold }}</td>
				<td>{{ ticket.Total_Revenue }}</td>
			</tr>
		{% endfor %}
	</table>
	
	<br>
	<br>
	<br>
	
{% endblock %}
